/* ----------------------------------
        INFOGRAPHIC STYLES
---------------------------------- */

:root {
    --sample: #fff;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #373737 url(../globalFiles/images/crosshatch_6.0.png);
    overflow-x: hidden;
    font-size: 16px;
    color: #161616;
}

#main_wrapper {
    width:100%;
    height:auto;
    background:#111111;
    margin: 0 auto;
}


.wrapper {
    width: min(1200px, 100% - 4vw);
    margin-inline: auto;
    position: relative;
}

/* Font Styles ------------------------- */
p {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 150%;
    font-size: 1em;
    color: #161616;
}

ul {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 150%;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 150%;
    font-size: 1em;
    margin-left: 19px;
}

h1 {
    font-size: 2.3em;
    font-weight: normal;
	margin-top: 1em;
    line-height: 130%;
}

h2 {

    font-size: 2em;
    font-weight: normal;
	margin-top: 1em;
    line-height: 130%;
}

h3 {
    font-size: 1.3em;
    font-weight: bold;
    line-height: 130%;
}

h4 {
    font-size: 1.25em;
    font-weight: normal;
    margin-top: 20px;
    line-height: 130%;
}

.legal p {
    font-size:.625em;
    margin: 1em 0;
    color:#111111;
}

.white { color:#fff; }
.black { color:#000000; }
.blue { color:#0071c5; }
.lt_blue { color:#00adef; }
.lt_blue2 { color:#69d6ff; }
.dk_blue { color:#003b70; }
.gray { color:#555555; }
.dk_gray { color:#333333; }
.yellow { color:#feda00; }
.green { color:#74a72d; }
.orange { color:#ffa300;  }
.dk_orange { color:#fb4b02; }
.purple { color: #180153; }

.nomargin { margin: 0 !important; }
.notopmargin, .nomargintop {margin-top: 0 !important;}
.nobottommargin, .nomarginbottom {margin-bottom: 0 !important;}


/* Misc Default Styles ------------------------- */

.left {text-align: left;}
.center {text-align: center;}
.right {text-align: right;}

.section {
    position: relative;
}

/* Wrap all tables in a div with this class so they display correctly on mobile */
.chart {overflow-x: auto;}


/* ----------------------------------
            CUSTOM CODE
---------------------------------- */

:root {
	--padding-block:3.75em;
    --padding-1-5:1.5em;
    --padding-2:2em;
    --padding-2-5:2.5em;
    --padding-3:3em;
    --padding-4:4em;
    --padding-4-5:4.5em;
    --padding-5:5em; 
    --padding-6:6em; 
    --padding-6-5:6.5em;
    --padding-7:7em;
    --padding-8:8em;
    
    --base-font-size:16;
}

h1, h2, h3, h4, p, li {
    --max-font-size:16;
    --min-font-size:16;
    --max-screen-width:1400;
    --min-screen-width:450;
    
    --font-size-calc:calc( (var(--min-font-size) * 1px) + (var(--max-font-size) - var(--min-font-size)) * ((100vw - (var(--min-screen-width) * 1px)) / (var(--max-screen-width) - var(--min-screen-width))));
    --clamp-max: calc( (var(--max-font-size) / var(--base-font-size)) * 1em);
    --clamp-min: calc( (var(--min-font-size) / var(--base-font-size)) * 1em);
}

h1 {
   --max-font-size:54;
   --min-font-size:36;
   font-size:clamp(var(--clamp-min), var(--font-size-calc), var(--clamp-max));
}
h2 {
   --max-font-size:44;
   --min-font-size:30;
   font-size:clamp(var(--clamp-min), var(--font-size-calc), var(--clamp-max));
}
h3 {
   --max-font-size:34;
   --min-font-size:22;
   font-size:clamp(var(--clamp-min), var(--font-size-calc), var(--clamp-max));
}
h4 {
   --max-font-size:22;
   --min-font-size:20;
   font-size:clamp(var(--clamp-min), var(--font-size-calc), var(--clamp-max));
}
p, li {
   --max-font-size:20;
   --min-font-size:16;
   font-size:clamp(var(--clamp-min), var(--font-size-calc), var(--clamp-max));
}

.vc {
    display:flex;
    justify-content:center;
    align-items:center;
}

.full_img {
    display:block;
    max-width:100%;
    height:auto;
    margin:0 auto;
}

.full_width_img {
    width: 100%;
    height: auto;
    background-position: center top;
    background-repeat: no-repeat;
    display: block;
}

.medium_width {
	width:100%;
	max-width: 1000px;
	min-width: auto;
	margin-left: auto;
	margin-right: auto;
}

.small_width {
	width:100%;
	max-width:800px;
	min-width: auto;
	margin-left: auto;
	margin-right: auto;
}

#main_wrapper {
    xbackground:#003575;
}

.white_bg {
    background:#FFF;
}

/* Box 1 */
#box_1 {
    padding-top:13vw;
    position:relative;
    aspect-ratio: calc(1920 / 730);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:1;
}
#box_1 .bg {
    display:block;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:auto;
}

/* Box 2 */
#box_2 {
    position:relative;
    margin-top:-18vw;
    padding-bottom:var(--padding-2);
}
#box_2 .wrapper {
    z-index:1;
}
#box_2 .badge_cont {
    display:flex;
    justify-content:center;
    align-items:center;
}
#box_2 .badge_cont .badge {
    flex-basis:48%;
    max-width: min(438px, 48vw);
    width:100%;
    height:auto;
}
#box_2 .badge_cont .badge.left {
    margin-right:-1.5%;
}
#box_2 .badge_cont .badge.right {
    margin-left:-1.5%;
}

/* Box 3 */
.splatter {
    display:block;
    position:absolute;
    width:100%;
    height:auto;
    margin:0 auto;
}
.splatter.top {
    top:-2px;
}
.splatter.bottom {
    top:2px;
}

#box_3 {
    position:relative;
    xmargin-top:-8vw;
    margin-top:clamp( -120px, calc(-20px + (-20 + -120) * ((100vw - 1024px) / (1920 - 1024))), -20px );
}
.black_bg {
    background:#111;
    color:#FFF
}
.black_bg p {
    color:#FFF;
}

#box_3 .wrapper {
    padding-top:14vw;
}
#box_3 .text_cont {
    margin:0 auto;
    text-align:center;
}
#box_3 .boxer_bg {
    display:block;
    position:absolute;
    width:100%;
    height:auto;
    top:8vw;
    left:0;
}

/* SLIDER STYLES ----------------- */
.slick-track {
    display: flex !important;
}
.slick-slide {height: inherit !important;}
.slick-slide > div, .slide, .inner_slider, .slide_style, .slide_style .inner {
    height: 100%;
    display: flex;
    align-items: center;
}
.slick-prev, .slick-next {
    width: var(--arrow-width);
	aspect-ratio: 39 / 70;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev {
    right: calc(100% + var(--arrow-spacing));
    background: url(../images/02_Arrow_01_Left.png) 50% 50% / contain no-repeat;
}
.slick-next {
    left: calc(100% + var(--arrow-spacing));
    background: url(../images/02_Arrow_02_Right.png) 50% 50% / contain no-repeat;
}
.slick-prev.slick-disabled, .slick-next.slick-disabled {opacity: 0.5;}
.slider_outer {
	width: 100%;
    position: relative;
    margin-inline: auto;
	/*padding-block: clamp(20px, 0px + 2.6vw, 50px);*/
	box-sizing: border-box;
    text-align:center;
    
    --arrow-width: clamp(26px, 17px + 1.1vw, 39px);
    --arrow-spacing: clamp(0px, -24px + 3.1vw, 36px);
}
.features, .benchmark{
	width: calc(100% - var(--arrow-width)*2 - var(--arrow-spacing)*2);
	margin-inline: auto;
}
.features .slick-list {
	width: min(1200px, 100%);
	margin-inline: auto;
}
.benchmark .slick-list {
	width: min(1140px, 100%);
	margin-inline: auto;
}
.features .slick-slide {
	padding-inline: 20px;
	box-sizing: border-box;
}
.benchmark .slick-slide {border-right: 2px solid #393939;}
.benchmark .slick-slide:last-of-type {border-right: 0px solid #393939 !important;}
@media only screen and (max-width: 650px) {
    .benchmark .slick-slide {border-right: 0px solid #393939 !important;}
}
.benchmark .upto {    
    box-sizing: border-box;
    position: relative;
    font-weight: bold;
    padding-inline: clamp(20px, 7px + 1.7vw, 40px);
}
.benchmark .upto p {
    --max-font-size:28;
    --min-font-size:20;
    color: #908f8f;
	line-height: 125%;
	letter-spacing: 0.025em;
	margin: 0;
}
.benchmark .upto p b {
    display: block;
    color:#FFF;
    font-size:4.8em;
    line-height: 100%;
}

html:lang(cs-cz) .benchmark .upto p b,
html:lang(hu-hu) .benchmark .upto p b,
html:lang(ar-sa) .benchmark .upto p b,
html:lang(es-mx) .benchmark .upto p b,
html:lang(fr-fr) .benchmark .upto p b {
    font-size: 3.2em;
}

html:lang(cs-cz) .benchmark .upto p.onpar b,
html:lang(hu-hu) .benchmark .upto p.onpar b,
html:lang(ar-sa) .benchmark .upto p.onpar b,
html:lang(es-mx) .benchmark .upto p.onpar b,
html:lang(fr-fr) .benchmark .upto p.onpar b {
    font-size: 2.6em;
}

.benchmark .upto p.onpar b {
    display: block;
    color: #908f8f;
    font-size:3.6em;
    line-height: 100%;
}

.slider_outer .tappy_hand {
    width: 200%;
    height: auto;
    aspect-ratio: 98 / 121;
    position: absolute;
    top: 40%;
    left: -50%;
    pointer-events: none;
    background: url(../images/tappy.png) 50% 50% / contain no-repeat;
    opacity:0;
}

.slide_intro {
	z-index: 1;
	position: relative;
}


/* BANNER STYLES ----------------- */
.banner {
    position: relative;
    text-align:center;
    margin-block:var(--padding-5);
}
.banner .b_top {
    position: absolute;
    bottom: 100%;
    left: 0px;
    width: 100%;
}
.banner .b_bot {
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
}
.banner .b_mid {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.banner .inner {
    box-sizing: border-box;
    margin-inline: auto;
    isolation: isolate;
    padding-block: clamp(20px, 13px + 0.9vw, 30px);
}

#box_3 .round_num {
    padding-top:var(--padding-1-5);
}

#box_3 .flex {
    display:flex;
    justify-content:space-between;
    padding-block:var(--padding-3);
    flex-wrap:wrap;
}
#box_3 .flex .half {
    flex-basis:45%;
}
#box_3 .small_badge {
    max-width:122px;
}
#box_3 .flex .full_width {
    flex-basis:100%;
}
#box_3 .flex .full_width p {
    padding-top:var(--padding-1-5);
}

#box_3 .left_half .small_icon {
    padding-top:8%;
    /* Ogi save asset out same dimension */
}

#box_3 .nopaddingbottom {
    padding-bottom:0;
}

#box_3 .laptop {
    padding-block:var(--padding-3);
}

.legal_callout {
    --max-font-size:16;
    --min-font-size:12;
    color:#646363 !important;
    padding-top:var(--padding-block);
}

#box_3 .splatter.bottom {
    position:relative;
    z-index:1;
}


/* Box 4 */
#box_4 {
    position:relative;
}
#box_4 .wrapper {
    position:relative;
    xtop:-8vw;
    top:clamp( -120px, calc(-10px + (-10 + -120) * ((100vw - 321px) / (1920 - 321))), -10px );
    z-index:2;
}
#box_4 .flex {
    display:flex;
    justify-content:space-between;
    padding-top:1em;
    flex-wrap:wrap;
}
#box_4 .flex .right_half {
    flex-basis:58%;
}
#box_4 .flex .left_half {
    position:relative;
    flex-grow:1;
}
#box_4 .flex .left_half img {
    position:absolute;
    top:0;
    left:-8%;
    width:100%;
    height:auto;
}

#box_4 .quote {
    padding-block:var(--padding-1-5);
}
#box_4 .quote.last {
    xpadding-bottom:8vw;
}
#box_4 .quote p:nth-of-type(2) {
    margin-top:.5em;
}

/* Box 5 */
#box_5 {
    position:relative;
    xmargin-top: -15vw;
    margin-top:clamp( -220px, calc(-10px + (-10 + -220) * ((100vw - 321px) / (1920 - 321))), -10px );
    padding-bottom: 20px;
    background: url(../images/04_Background_HD.jpg) 50% 50% / cover no-repeat;
}
#box_5 .wrapper {
    z-index:1;
    padding-block:var(--padding-block);
}
#box_5 .splatter.top {
    position:relative;
    z-index:1;
}
#box_5 .badge_cont {
    display:flex;
    justify-content:center;
    align-items:center;
}
#box_5 .badge_cont .badge {
    flex-basis:48%;
    max-width:min(262px, 48vw);
    width:100%;
    height:auto;
}
#box_5 .badge_cont .badge.left {
    margin-right:0;
}
#box_5 .badge_cont .badge.right {
    margin-left:0;
}


/* Quiz section ---------- */
#quiz_box {
    margin-inline:auto;
    padding-top: var(--padding-1-5);
	text-align: center;
}

#quiz_box .startQuiz {
    display: inline-block;
    transition:transform .5s ease-in-out;
}

#quiz_box .startQuiz p {
    font-size: 1.5em;
	line-height: 1.6em;
	font-weight: bold;
	color: #FFF;
	padding: 0.5em 1.25em;
	margin: 0 auto;
	background-color: #0068b5;
	display: inline-block;
	cursor: pointer;
}

#quiz_box.locked {
    filter: saturate(0%);
    pointer-events: none;
}

#quiz_locked_message {
    visibility: hidden;
}
#quiz_box.locked #quiz_locked_message {
    visibility: visible;
}

@keyframes rotationanimation {
  100% {
    transform: scale(1.1);
  }
}

@media (hover: hover) {
    .startQuiz:hover {
       transform: scale(1.1);
    }
}

/*#quiz_box p:hover {background-color: #659E44;}
#quiz_box p:active {background-color: #89D359;}*/

/* Legal */
#box_legal {
    background: #111;
    border-top: 0.8em solid #242424;
}

/* Keep these near the bottom to make sure your custom code doesn't accidentally overwrite these classes */
.show_on_HD {display: block;}
.show_on_MOB {display: none;}

/* ----------------------------------
            MEDIA QUERIES
---------------------------------- */


/* mobile */
@media only screen and (max-width: 1024px) {
	p, ul, li {line-height: 140%;}
    .show_on_MOB {display: block;}
    .show_on_HD {display: none;}

    #legal_wrapper_full {
        padding-block: 2vw;
    }
    
    :root {
        --padding-block:2em;
        --padding-1-5:1em;
        --padding-2:1em;
        --padding-2-5:1.5em;
        --padding-3:1.5em;
        --padding-4:2em;
        --padding-4-5:2em;
        --padding-5:2em; 
        --padding-6:3em; 
        --padding-6-5:3em; 
        --padding-7:3em;
        --padding-8:3.5em;
    }
	
    #box_5 {
        background: url(../images/04_Background_MOB.jpg) 50% 50% / cover no-repeat;
    }
    
    #box_3 .flex .half {
        flex-basis:48%;
    }
    
}


@media only screen and (max-width: 768px) {
    
    #box_3 .flex .half {
        flex-basis:100%;
    }
    #box_3 .flex .half {
        margin-top:1em;
    }
    
    #box_3 .left_half .small_icon {
        padding-top:0;
    }
    
    #box_4 .flex {
        padding-top:0;
        padding-bottom:var(--padding-2-5);
    }
    #box_4 .flex .right_half {
        flex-basis:100%;
    }
    #box_4 .flex .left_half {
        flex-basis:100%;
        padding-bottom:1em;
    }
    #box_4 .flex .left_half img {
        position:relative;
        left:0%;
        max-width:100%;
        width:auto;
    }
    
}


@media only screen and (max-width: 500px) {

    :root {
        --padding-block:1em;
        --padding-1-5:1em;
        --padding-2:1em;
        --padding-2-5:1em;
        --padding-3:1em;
        --padding-4:1em;
        --padding-4-5:1em;
        --padding-5:1.5em; 
        --padding-6:1.5em; 
        --padding-6-5:1.5em; 
        --padding-7:1.5em;
        --padding-8:2em;
    }  
    
}
