@charset "utf-8";
/* CSS Document */
/* Used for 2024 Snacks and newer */

/* Layout -------------------------- */

* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #373737 url(../images/crosshatch_6.0.png);
    overflow-x: hidden;
}

.snack-wrapper {
    width: min(100%, 500px);
    margin-inline: auto;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

#main_wrapper {
    width:100%;
    height:auto;
    min-height: 100vh;
    overflow: hidden;
}

.section {
    position: relative;
}

/* Font Styles & Spacing -------------------------- */
p + h1,
p + h2,
ol + h1,
ul + h1 {
    margin-top: var(--spacing-large);
}

h1 + p,
h2 + p,
p + p,
ol + p,
ul + p,
h1 + h2,
ol + h2,
ul + h2 {
    margin-top: var(--spacing-medium);
}

li + li,
p + ol,
p + ul,
h1 + ol,
h1 + ul,
h2 + ol,
h2 + ul {
    margin-top: var(--spacing-small);
}


/* General Positioning -------------------------- */
.vc {
    display: flex;
    align-items: center;
}

.hc {
    display: flex;
    justify-content: center;
}

.vhc {
    display: flex;
    justify-content: center;
    align-items: center;
}


.margin-inline--auto {
    margin-inline: auto;
    display: block;
}

#bg-fixed {
    background: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    width: inherit;
    height: 100vh;
    top: 0;
}

/* Full height section -------------------------- */
.full-height {
    min-height: 100vh;
}


/* General UI -------------------------- */
.snacks-content-arrow {
    cursor: pointer;
}

/* Images -------------------------- */
.inset-img--80px {
    width: 80px;
    height: auto;
}

.inset-img--100px {
    width: 100px;
    height: auto;
}

/* Inset Boxes -------------------------- */
.inset-box {
    background: var(--inset-box-bg);
}

.border-radius .inset-box,
.inset-box.border-radius {
    border-radius: 17px;
}

/* Text with small side callout image -------------------------- */
.side-callout--small {
    display: grid;
    grid-template-columns: min(80px, 20%) auto;
}

/* Hotspot section -------------------------- */
.hotspot-wrapper {
    position: relative;
    user-select: none;
    --hotspot-target-color: #fff;
}

.hotspot-target {
    cursor: pointer;
    position: absolute;
}

.hotspot-target.hotspot-target--style1 {
    width: 19%;
    aspect-ratio: 1;
}
.hotspot-target.hotspot-target--style1 path {
    fill: var(--hotspot-target-color);
}
.hotspot-target.hotspot-target--style1 circle {
    stroke: var(--hotspot-target-color);
}
.hotspot-target.hotspot-target--style1 .hotspot-ring {
    transform-origin: 50% 50%;
    animation: sonarWave 2s ease infinite;
}
.hotspot-target.hotspot-target--style1.clicked .hotspot-ring {
    animation: none;
    opacity: 0;
}

@keyframes sonarWave {
    0% {
        transform: scale(0.7);
        opacity: 1;
    }
    80% {
        transform: scale(1);
        opacity: 0;
    }
    100% { /* faking repeat delay */
        opacity: 0;
    }
}

/* Matching section -------------------------- */
.match-bank {
    --match-anim-speed: 0.3s;
}
.match-bank > div {
    cursor: pointer;
    position: relative;
    user-select: none;
    transition: background var(--match-anim-speed) ease-in-out;
}

/* Generic overlay code */
.match-bank > div:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity var(--match-anim-speed);
}

.match-bank.match-parent-clicked > div {
    cursor:no-drop;
}

.match-bank > div.match-click:after {
    background-color: rgb(var(--color-purple300), 0.7);
    opacity: 1;
}

.match-bank > div.match-success:after {
    background: rgb(var(--color-fern300), 0.7) url(../images/snacks/Checkmark.svg) 50% 50% / 30px no-repeat;
    cursor: default;
    opacity: 1;
}

.match-bank > div.matched {
    cursor: default;
    opacity: 0.5;
    transition: opacity var(--match-anim-speed);
}


/* Click to Reveal section -------------------------- */


/* Modal dialogs section -------------------------- */


body:has(dialog[open]) {
    overflow: hidden;
}

dialog {
    width: min(100%, 500px);
    height: 100vh;
    max-width: min(100%, 500px);
    max-height: 100vh;
    margin-inline: auto;
    background: none;
    color: #fff;
    border: none !important;
    outline: none !important;
    scrollbar-width: thin;
}
dialog .inner {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
dialog .content {
    flex-grow: 1;
    align-self: stretch;
}

dialog .snacks-content-circle-X {
    --circle-X-color: #fff;
    cursor: pointer;
    flex-shrink: 0;
    align-self: flex-end;
    user-select: none;
}

dialog .snacks-content-circle-X path {
    fill: var(--circle-X-color);
}

dialog::backdrop {
    background: rgb(0 0 0 / 90%);
    width: min(100%, 500px);
    margin-inline: auto;
}


/* TODO / WISHLIST - animate dialog with CSS transitions/animations/classes */
/* TODO / WISHLIST - Rework scroll snap */
/* TODO / WISHLIST - fix layout shift that happens when dialog is opened, note scrollbar-gutter: stable did not help/caused new problems */