/*INTEL CLEAR THAI*/
/* Updated 4/2/2024 to use different font */

/* normal */
@font-face {
	font-family: 'IntelClear-thai';
	/* src: url('fonts/Intel_Clear/Thai/IntelClear_Thai_WTrad_Rg.woff') format("woff"); */
	src: url('fonts/Intel_Clear/Thai/IntelClear_WThai_Rg.woff') format("woff");
	font-weight: normal;
	font-style: normal;
}

/* bold */
@font-face {
	font-family: 'IntelClear-thai';
	/* src: url('fonts/Intel_Clear/Thai/IntelClear_Thai_WTrad_Bd.woff') format("woff"); */
	src: url('fonts/Intel_Clear/Thai/IntelClear_WThai_Bd.woff') format("woff");
	font-weight: bold;
	font-style: normal;
}

/* lighter */
@font-face {
	font-family: 'IntelClear-thai';
	/* src: url('fonts/Intel_Clear/Thai/IntelClear_Thai_WTrad_Lt.woff') format("woff"); */
	src: url('fonts/Intel_Clear/Thai/IntelClear_WThai_Lt.woff') format("woff");
	font-weight: 200;
	font-style: normal;
}

.intelClear {
	font-family: IntelClear-thai, IntelClear, Arial, sans-serif;
}

#quiz-body {
    font-family: IntelClear-thai, IntelClear, Arial, sans-serif;  
}

body {
    font-family: IntelClear-thai, IntelClear, Arial, sans-serif;
}


/*INTEL ONE THAI*/

/* normal */
@font-face {
	font-family: 'IntelOne-thai';
	src: url("fonts/Intel_One/Thai/intelone-display-th-regular.woff") format("woff");
	font-weight: normal;
}

/* medium */
@font-face {
	font-family: 'IntelOne-thai';
	src: url("fonts/Intel_One/Thai/intelone-display-th-medium.woff") format("woff");
	font-weight: 500;
}

/* bold */
@font-face {
	font-family: 'IntelOne-thai';
	src: url("fonts/Intel_One/Thai/intelone-display-th-bold.woff") format("woff");
	font-weight: 600;
}


/* light */
@font-face {
	font-family: 'IntelOne-thai';
	src: url("fonts/Intel_One/Thai/intelone-display-th-light.woff") format("woff");
	font-weight: 200;
}

.intelOne {
    font-family: IntelOne-thai, IntelOne, IntelClear, Arial;
}
