@charset "utf-8";
/* CSS Document */

.scene p, .scene li, #nav_content p {line-height: 140%;}

p, ul, ol, td, #quiz-body, #nav_content, #main_wrapper table, #quiz_box {direction: rtl;}

.nav_item:not(.youMayNotPass):hover {transform: translate3d(-10px, 0px, 10px);}

.scene ul li {
    list-style-type: none !important; 
}

.scene ul li:before {
    content: "•";
    padding-left: 15px;
    margin-right: -1em;
}

.chartStyle1 .chart {
    flex-direction: row-reverse;
}

.chartStyle1 .chart img {
    transform: scaleX(-1);
}

.textStyle4 > .inner {
    flex-direction: row-reverse;
}

#textbox_1_1_0 .text .icon {
    margin-left: auto;
}